@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/dhZwzDBe-lk?si=VJtg8J5auTGleasA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<p>Use this area to provide additional information.</p>
